//====================================================================================================
.footer {

   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include adaptiveValue("padding-top", 88, 20);
      @include adaptiveValue("padding-bottom", 88, 20);
      gap: rem(24);
   }

   &__social {
   }

   &__copy {
      font-weight: 400;
      font-size: rem(14);
      line-height: math.div(17, 14);
      color: $greyColor;
      @media (any-hover: hover){
         &:hover{
            text-decoration: underline;
         }
      }
   }
}
//====================================================================================================
